# Google Sheets Configuration (Server-side)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=

# Google Apps Script (Client-side fallback for Vercel)
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbw-6IgWt--x1CKVWYZKyXRmHET4-lHJLxOSV8jmiAJt4GusxnRi8gS3f61hgvexCga7/exec
